@font-face {
    font-family: 'Alagard';
    src: url(./drawables/fonts/alagard.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: 'Alagard', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: end;
}

.calculator-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background-color: #1E2025;
}

.buttons-wrapper {
    display: flex;
    flex: 1 1 85%;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

div {
    border: 1px solid black;
    border-radius: 5px;
}

.button,
.equal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #92A4B1;
}

.input-output-container {
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background-color: #92A4B1;
}

.copyright{
}

.input-output-container > div {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
}

/* .input-output-container > div > p {

} */

.button {
    flex: 1 1 25%
}

.equal {
    flex: 1 1 50%
}

.user-input.result {
    font-size: 2rem;
    margin-top: -15px;
}

.copyright {
    flex: 1 1 100%;
    text-align: left;
    padding: 10px;
    border-top: 1px solid black !important;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #5A7480;
}

.copyright > span {
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: #768590;
}

.operator:hover,
.percentage:hover {
    background-color: #b4befe;
}

.equal:hover {
    background-color: #a6e3a1;
}

.clear:hover,
.delete:hover {
    background-color: #f38ba8;
}